name: Build and deploy

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      PERSONAL_NPM_TOKEN: ${{ secrets.PERSONAL_TOKEN }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.PERSONAL_TOKEN }}
          fetch-depth: 0

      - name: Install modules
        run: yarn install

      - name: Build libs
        run: yarn build:lib

      - name: Eslint
        run: yarn lint

      - name: Check packages versions
        run: yarn version check

      - name: Apply versions
        run: yarn version apply --all

      - name: Publish packages
        run: yarn workspaces foreach --include "@fuks-ru/{common,common-backend,common-frontend}" --interlaced --verbose npm publish --tolerate-republish

      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: |
            ci: Release packages
            
            [skip ci]

  notification:
      name: Notification

      needs: [ build ]

      runs-on: ubuntu-latest

      if: always()

      steps:
        - name: Send telegram message
          uses: appleboy/telegram-action@master
          env:
            COMMIT_URL: ${{ github.server_url }}/${{ github.repository }}/commit/${{github.sha}}
            ACTION_URL: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
          with:
            to: ${{ secrets.TELEGRAM_TO }}
            token: ${{ secrets.TELEGRAM_TOKEN }}
            format: markdown
            message: |
              Build *${{ needs.build.result == 'success' && '✅' || '⛔️' }}* Deploy *${{ needs.deploy.result == 'success' && '✅' || '⛔️' }}*

              *${{ github.actor }}* created [commit](${{ env.COMMIT_URL }})
  
              [Build and deploy](${{ env.ACTION_URL }})
